:root {
    --primary: white;
    --primary-background: #fafafa;
    --primary-text: black;
    --primary-text-25: rgba(0, 0, 0, 0.25);
    --primary-hover: #ddd;
    --secondary: #0194f3;
    // --secondary-background: #fafafa;
    --secondary-text: white;
    --secondary-hover: #017acc;
    --footer-background: #1c2930;
    --footer-text: white;

    //
    --header-color: #073e68;

    //shadow
    --shadow: 5px 5px 10px var(--text-primary-50);
    --shadow-menu: rgba(var(--secondary-r) var(--secondary-g) var(--secondary-b) / 12%) 0px 2px 12px;
    --shadow-circle: 3px 3px 3px var(--text-primary-50);
}